html {
    background: linear-gradient(orange, white, orange);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background: black;
    color: orange;
    padding-top: .5em;
    padding-bottom: .8em;
    font-size: 3em;
    text-align: center;
} 

a:link {    
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

a:active {
    color: white;
}

ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 5%  
}

nav {
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;
}

img {
    border-radius: 25px, 0;
    box-shadow: (10px,20px,30px,black);
}

section {
    font-family: cursive;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    height: 75px;
    width: 8%;
    float: left;
    margin-left: 75px;
    vertical-align: middle;
}
.leftside {
    float: left;
    padding: 100px;
    clear:left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.rightside {
    float:right;
    padding: 100px;
    clear: right;
}

footer {
    bottom: 0;
    width: auto;
    text-align: center;
}

.pictures {
    display: inline-block;
    padding: 10px;
    font-size: 1em;
}

.volunteers {
    display: inline-block;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
}

.volunteers img {
   border-top-right-radius:  50px;
    border-bottom-left-radius: 50px;
    box-shadow: 15px 15px 10px black;
}

h3 {
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

#children {
    transform: rotate(90deg);
    float: right; 
}

.group {
    float: left;
}

.group, #children {
    border-top-right-radius:  50px;
    border-bottom-left-radius: 50px;
    box-shadow: 15px 15px 10px black;
    margin: 30px;
}

.rightfont {
    float:right;
}

.leftfont {
    float:left;
}

.curriculum {
    text-align: center;
}

.mission {
    text-align: center;
    list-style-position: inside;
}

.mission h3 {
    margin-bottom: 10px;
}

.random {
float:left;
border: black;
box-shadow: 15px 15px 10px black;
}

.about h3 {
    margin-bottom: 10px;
}

.about {
    text-align: center;
}

.pictures {
    font-size: 20px;
}
