html {
    background: linear-gradient(orange, white, orange);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background: black;
    color: orange;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 3em;
    text-align: center;
} 

a:link {    
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

a:active {
    color: white;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 5%
}

nav {
    text-align: center;
}

img {
    border-radius: 25px, 0;
    box-shadow: (10px,20px,30px,black);
}

section {
    font-family: cursive;
}

.logo {
    height: 10px;
}
.leftside {
    float: left;
    margin: 25px;
}

.rightside {
    float: right;
    margin: 25px;
}

footer {
    bottom: 0;
    width: auto;
    text-align: center;
}

.pictures {
    display: inline-block;
}

.volunteers {
    display: inline-block;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
}

h3 {
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}
